name: Build
on:
  workflow_dispatch:
    inputs:
      release_tag:
        required: true
        type: string
        description: 'release tag'

permissions:
  contents: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Build for Linux AMD64
        env:
          GOOS: linux
          GOARCH: amd64
        run: |
          go build -v -o libersuite-panel-linux-amd64 ./cmd/main.go

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ inputs.release_tag }}
          name: Release ${{ inputs.release_tag }}
          draft: false
          prerelease: false
          files: |
            libersuite-panel-linux-amd64
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
